* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  display: inline;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.board {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
}

.p1Score,
.cpuScore {
  font-size: 15vw;
  display: inline-block;
  height: 150px;
  color: azure;
  line-height: 90%;
}

.p1Score {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.cpuScore {
  position: absolute;
  top: 10px;
  left: 0;
}

.cpuBoard {
  display: block;
  text-align: center;
}

.cpuChoice {
  margin-right: 0px;
  text-align: center;
  font-size: 30pt;
  display: inline-block;
  width: 20vmin;
  height: 35vmin;
  background-color: white;
  border-radius: 15px;
  margin-top: 50px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  text-align: center;
  color: azure;
}

.again-container {
  text-align: center;
}

.again {
  display: inline;
  color: azure;
}

.choice {
  font-size: 30pt;
  display: inline-block;
  text-align: center;
  width: 20vmin;
  height: 35vmin;
  background-color: white;
  border-radius: 15px;
}

.p1Board {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 20vmin 20vmin 20vmin;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 10px 30px;
}
