* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  display: inline-block;
  height: 753.6px;
  background-color: black;
}

body {
  display: inline;
}

h3 {
  display: inline;
  color: azure;
}

.p1Score,
.cpuScore {
  font-size: 50px;
  display: inline;
  color: azure;
}

.p1Score {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cpuScore {
  position: absolute;
  top: 0;
  left: 0;
}

.cpuBoard {
  display: block;
  text-align: center;
  padding-top: 50px;
}

.cpuChoice {
  margin-right: 0px;
  text-align: center;
  font-size: 30pt;
  display: inline-block;
  width: 150px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
}

.middle {
  margin-top: 45.8px;
  margin-bottom: 45.8px;
  display: block;
  height: 50px;
  text-align: center;
}

.again-container {
  text-align: center;
}

.again {
  display: inline;
  color: azure;
}

.choice {
  font-size: 30pt;
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
}

.p1Board {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 10px 30px;
}
