@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Quicksand", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  display: inline;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input {
  position: absolute;
  width: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

#root {
  width: 100%;
  height: 100%;
}

.board {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: orangered;
}

.scoreBoard {
  width: 100%;
  height: 100%;
  position: relative;
}

.p1Score,
.cpuScore {
  font-size: 15vw;
  display: inline-block;
  color: azure;
}

.p1Score {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cpuScore {
  position: absolute;
  top: 0;
  left: 0;
}

.cpuBoard {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  text-align: center;
  margin-top: 3vh;
  perspective: 1000px;
}

.cpuChoice,
.backCard {
  position: absolute;
  right: 50%;
  left: 50%;
  margin-left: -10vmin;
  text-align: center;
  font-size: 5vmin;
  line-height: 600%;
  display: inline-block;
  width: 20vmin;
  height: 35vmin;
  background-color: white;
  border-radius: 2vmin;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, 0.2);
}

.cpuChoice {
  transform: rotateY(180deg);
}

.backCard {
  box-shadow: 0 0 0 1vmin white inset;
  background-color: black;
}

#flippingFront {
  transform: rotateY(130deg);
  transition: transform 3s ease-out;
}

#flippingBack {
  transform: rotateY(-50deg);
  transition: transform 3s ease-out;
}

#openFront {
  transform: rotateY(0deg);
}

#openBack {
  transform: rotateY(-180deg);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: azure;
  font-size: 3vmin;
  transition: 0.5s ease;
}

.again-container {
  text-align: center;
  margin-top: 10%;
}

.again {
  display: inline;
  color: black;
  background-color: azure;
}

.choice {
  position: relative;
  font-size: 5vmin;
  display: inline-block;
  text-align: center;
  line-height: 600%;
  width: 20vmin;
  height: 35vmin;
  background-color: white;
  border-radius: 2vmin;
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, 0.2);
  transition: transform 0.4s, box-shadow 0.4s, z-index 0.5s;
}

.choice.Rock {
  z-index: 4;
}

.choice.Paper {
  z-index: 3;
}

.choice.Scissors {
  z-index: 4;
}

.choice.active {
  z-index: 5;
  box-shadow: 2vmin 5vmin 2vmin 2vmin rgb(0, 0, 0, 0.2);
  transform: translateY(-5vmin) scale(1.2);
  transition: transform 0.4s box-shadow 0.4s;
}

.choice.moveAnim-Rock,
.choice.moveAnim-Paper-right {
  transform: translateX(5vmin);
}

.choice.moveAnim-Scissors,
.choice.moveAnim-Paper-left {
  transform: translateX(-5vmin);
}

.choice.clicked-Rock {
  z-index: 5;
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, 0.2);
  transform: translateX(calc(2vw + 20vh));
  transition: transform 0.6s box-shadow 0.6s;
}

.choice.clicked-Paper {
  z-index: 5;
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, 0.2);
  transition: transform 0.6s box-shadow 0.6s;
}

.choice.clicked-Scissors {
  z-index: 5;
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, 0.2);
  transform: translateX(calc(-2vw + -20vh));
  transition: transform 0.6s box-shadow 0.6s;
}

.choice.hide-card {
  transform: translateY(100vmin);
  transition: transform 0.6s;
}

.p1Board {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 3vh;
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

@media (orientation: portrait) {
  .choice {
    height: 35vmin;
  }
  .cpuBoard {
    margin-top: calc(28vh - 25vw);
  }
  .p1Board {
    margin-bottom: calc(28vh - 25vw);
    grid-template-columns: 20vw 20vw 20vw;
  }
}
