@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Quicksand", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  display: inline;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.board {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: orangered;
}

.scoreBoard {
  width: 100%;
  height: 100%;
  position: relative;
}

.p1Score,
.cpuScore {
  font-size: 15vw;
  display: inline-block;
  color: azure;
}

.p1Score {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cpuScore {
  position: absolute;
  top: 0;
  left: 0;
}

.cpuBoard {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  text-align: center;
  margin-top: 3vh;
  perspective: 1000px;
}

.cpuChoice,
.backCard {
  position: absolute;
  right: 50%;
  left: 50%;
  margin-left: -10vmin;
  text-align: center;
  font-size: 5vmin;
  line-height: 600%;
  display: inline-block;
  width: 20vmin;
  height: 35vmin;
  background-color: white;
  border-radius: 2vmin;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
}

.cpuChoice {
  transform: rotateY(180deg);
}

.backCard {
  box-shadow: 0 0 0 1vmin white inset;
  background-color: black;
}

#flippingFront {
  transform: rotateY(130deg);
  transition: transform 2s ease-out;
}

#flippingBack {
  transform: rotateY(-50deg);
  transition: transform 2s ease-out;
}

#openFront {
  transform: rotateY(0deg);
}

#openBack {
  transform: rotateY(-180deg);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: azure;
  font-size: 3vmin;
}

.again-container {
  text-align: center;
  margin-top: 10%;
}

.again {
  display: inline;
  color: black;
  background-color: azure;
}

.choice {
  font-size: 5vmin;
  display: inline-block;
  text-align: center;
  line-height: 600%;
  width: 20vmin;
  height: 35vmin;
  background-color: white;
  border-radius: 2vmin;
}

.p1Board {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 3vh;
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

@media (orientation: portrait) {
  .choice {
    height: 35vmin;
  }
  .cpuBoard {
    margin-top: calc(28vh - 25vw);
  }
  .p1Board {
    margin-bottom: calc(28vh - 25vw);
    grid-template-columns: 20vw 20vw 20vw;
  }
}
